* {
    box-sizing: border-box;
}

body {
    padding-top: 2%;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    background: lightblue;
}

.list-1 {
    text-align: left;
    padding-left: 10%;
    color: darkblue;
}